
body {
    background-color: #403d39;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0;
    margin: 0;
}

#maincontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #252422;
    padding: 0 20px;
}

#logo h1 {
    font-size: xx-large;
    color: #eb5e28;
}

#all_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #252422;
}

.tabs {
    padding: 10px;
}



.tabs a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.tabs a:hover {
    text-decoration: dotted;
    color: #eb5e28;
    font-weight: bold;
}

#main_footer {
    background-color: #252422;
    padding: 5px 20px;
    text-align: center;
    font-size: small;
}

#main_footer a {
    text-decoration: none;
    color: white;
}

#main_home {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
}

#description{
    font-size: larger;
}
#pic_container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    width: 30%;
}

#main_description {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#name_holder h1{
    font-size: xx-large;
}
#dp {
    height: 300px;
    border-radius: 50%; /* changed to 50% for a perfect circle */
}

#education {
    display: flex;
    flex-wrap: wrap; /* added flex-wrap to wrap items when they exceed container width */
    justify-content: space-around;
}

#edu {
    margin: 10px;

    
}
#edu h2:hover{
    color: #eb5e28;
}
#edu b,ul {
    line-height: 2px;
}

#social_icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; /* added margin-top for better spacing */
}

#social_profile i {
    color: white;
    font-size: x-large;
}

#main_description p {
    text-align: justify;
}
#skills
{ 
    text-align: center;
    background-color: #35322f;
    padding: 30px;
}
#skills h1{
    color: #eb5e28;
    font-size: xx-large;
    font-weight: bolder;
}
#skill_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills{
    background-color: #403d39;
    width: 30%;
    text-align: center;
    padding-bottom: 30px;
    border-radius: 10px;
    
}
.skills h2:hover{
    color: #eb5e28;
}
.full{
    background-color: #252422;
    width: 80%;
    margin: 0px 20px;
    border-radius: 10px;
    
}
.obtained{
    background-color: #eb5e28;
    border-radius: 10px;
    font-size: 4px;
    color: #eb5e28;
}
#cpp{
    width: 80%;
    
}
#py{
    width: 70%;
}
#cc{
    width: 65%;
}
#wind{
    width: 98%;
}
#linux{
    width: 80%;
}
#matlab{
    width: 80%;
}
#Mathematica{
    width: 70%;
}



#project h1{
    color:#eb5e28;
    text-align: center;
}
#project_container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
}
#prject_card{
    width: 35%;
    background-color: #252422;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
#projectimg{
    width: 100%;
    border-radius: 10px;

}
#Project_title{
    color: #eb5e28;
    padding: 0px 10px;
}
#Project_description{
    text-align: justify;
    padding: 0px 10px;
}
#project_meta{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#project_time{
    font-style: italic;
    color: #c2bab0;
    padding: 0px 10px ;
}
#project_repo{
    padding: 0px 10px ;
}
#project_repo a{
    font-size: xx-large;
    color: #c2bab0;
}
@media screen and (max-width: 600px) {
    #all_content {
        display: none;
    }
    #main_description {
        width: 90%;
    }
    #pic_container{
        width: 90%;
    }

    #main_home{
        flex-direction: column;
        padding: 0px 0px;
    }
    #skill_container{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #edu{
        width: 90%;
    }
    .skills{
        width: 90%;
        margin-bottom: 15px;
    }
    #skills{
        justify-content: center;
    }
    #dp{
        border-radius: 50%;
    }
    #project_container{
        display: flex;
        flex-direction: column;
    }
    #prject_card{
        width: 90%;
    }
}