body{
    background-color: rgb(4, 32, 38);
    font-family:'Courier New', Courier, monospace;
    color: antiquewhite;
    padding: 0px;
    margin: 0px;
}
#maincontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 9, 29);
    padding: 0px 20px;
}
#logo h1{
    font-size: xx-large;
}
#all_content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(19, 9, 29);
}
.tabs{
    padding: 10px;

}
@media screen and (max-width: 600px) {
    #all_content
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blueviolet;
}
}
.tabs a{
    text-decoration: none;
    color: antiquewhite;
    font-size: x-large;
}
.tabs a:hover{
    text-decoration: underline;
    color: rgb(221, 151, 60);
}