
body {
    background-color: #403d39;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0;
    margin: 0;
}

#maincontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #252422;
    padding: 0 20px;
}

#logo h1 {
    font-size: xx-large;
    color: #eb5e28;
}

#all_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #252422;
}

.tabs {
    padding: 10px;
}



.tabs a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.tabs a:hover {
    text-decoration: dotted;
    color: #eb5e28;
    font-weight: bold;
}

#main_footer {
    background-color: rgb(19, 9, 29);
    padding: 5px;
    text-align: center;
}

#main_footer a {
    text-decoration: none;
    color: white;
}

#main_home {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
}

#pic_container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    width: 30%;
}

#main_description {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#name_holder h1{
    font-size: xx-large;
}
#dp {
    height: 300px;
    border-radius: 50%; /* changed to 50% for a perfect circle */
}

#education {
    display: flex;
    flex-wrap: wrap; /* added flex-wrap to wrap items when they exceed container width */
    justify-content: space-around;
}

#edu {
    margin: 10px;

    
}
#edu b,ul {
    line-height: 2px;
}

#social_icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; /* added margin-top for better spacing */
}

#social_profile i {
    color: white;
    font-size: x-large;
}

#main_description p {
    text-align: justify;
}

@media screen and (max-width: 600px) {
    #all_content {
        display: none;
    }

    #main_home{
        flex-direction: column;
        padding: 0px 0px;
    }
}